body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(#345,#111);
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#clear-btn, #start-btn, #pause-btn {
    background: grey;
    color: #fff;
    text-align: center;
    font-size: 36px;
    padding: 5px 0;
    width: 150px;
    height: 60px;
    border-radius: 5%;
    cursor: pointer;
    text-transform: uppercase;
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
}

#clock {
    position: relative;
    width: 400px;
    height: 400px;
    background: radial-gradient(white, #a1a1a1);
    border: 5px solid #969689;
    box-shadow: inset 1px 1px 15px 0.1px #717171, 5px 5px 50px 1px rgba(0,0,0,0.7);
    border-radius: 50%;
    overflow: hidden;
}

#mini-clock {
    position: relative;
    width: 100px;
    height: 100px;
    background: radial-gradient(white, #a1a1a1);
    border: 2px solid #969689;
    box-shadow: inset 1px 1px 15px 0.1px #717171, 5px 5px 50px 1px rgba(0,0,0,0.7);
    border-radius: 50%;
    overflow: hidden;
    top: 215px;
    left: 200px;
}

#numbers {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.numbers {
    height: 375px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mini-numbers {
    height: 85px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.number {
    display: flex;
    justify-content: center;
    align-uitems: center;
    padding: 5px;
    font-size: 2.4em;
    font-weight: bold;
    font-family: monospace;
    font-weight: bold;
    color: #ccd;
    text-shadow: 2px 2px 8px black;
}

.mini-number {
    display: flex;
    justify-content: center;
    align-uitems: center;
    padding: 2px;
    font-size: 0.4em;
    font-weight: bold;
    font-family: monospace;
    font-weight: bold;
    color: #ccd;
    text-shadow: 2px 2px 8px black;
}

.arms {
    position: absolute;
    top: 0px;
    width: 400px;
    height: 400px;
    background: linear-gradient(rgba(50,50,35,0.05),rgba(50,50,35,0.1));
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mini-arms {
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
    background: linear-gradient(rgba(50,50,35,0.05),rgba(50,50,35,0.1));
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#pivot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    background: radial-gradient(#700, #c00);
    box-shadow: 0px 0px 5px 0.1px rgba(0,0,0,0.35);
}

#mini-pivot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: 0.5px solid rgba(0,0,0,0.2);
    background: radial-gradient(#700, #c00);
    box-shadow: 0px 0px 3px 0.1px rgba(0,0,0,0.35);
}

#second-arm {
    height: 280px;
    width: 2px;
    border-radius: 50%;
}

#milli-second-arm {
    height: 80px;
    width: 2px;
    border-radius: 50%;
}

#minute-arm {
    height: 295px;
    width: 4px;
    border-radius: 50%;
}
#hour-arm {
    height: 175px;
    width: 8px;
    border-radius: 30%;
}


.main-arm {
    height: 55%;
    width: 100%;
    background: #212121;
    color: #212121;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 2px 1px 5px 0.1px rgba(0,0,0,0.5);
}
.hidden-arm {
    height: 45%;
    width: 100%;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
}

.red-bg {
    background: linear-gradient(#900, #900, #900);
}

.hour-bg {
    background: linear-gradient(#9AB, #679);
}
.minute-bg {
    background: linear-gradient(#CCD, #BBC);
}

.rotate30 {
    transform: rotate(30deg);
}
.rotate30R {
    transform: rotate(-30deg);
}
.rotate60 {
    transform: rotate(60deg);
}
.rotate60R {
    transform: rotate(-60deg);
}
.rotate90 {
    transform: rotate(90deg);
}
.rotate90R {
    transform: rotate(-90deg);
}
.rotate120 {
    transform: rotate(120deg);
}
.rotate120R {
    transform: rotate(-120deg);
}
.rotate150 {
    transform: rotate(150deg);
}
.rotate150R {
    transform: rotate(-150deg);
}

.clock-bg {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));
    box-shadow: inset 2px 2px 12px 0.1px #111;
}

.mini-clock-bg {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));
    box-shadow: inset 2px 2px 12px 0.1px #111;
}